@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

#title {
    margin: auto;
    margin-top: 5%;
    width: 60%;
    text-align: center;
    padding: 20px 0px;   
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 25px;
    min-width: 30%;
    color: #000000;
    font-family: "Josefin Sans",sans-serif;
    font-size: 40px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    margin-bottom: 40px;
    border-radius: 10px;
    border: 2px solid #000000;
    margin-top: 2%;
    width: 70%;
    background-color: #343038;

}

.pixelentry {
    width: auto;
    height: auto;
    flex-wrap: wrap;
}

.pixelentry div {
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.pixelentry img {
    height: 400px;
}

.pixelentry span{
    color: #ffffff;
    font-family: "bebas neue", sans-serif;
    font-size: 40px;
}