@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


.parallax {

  /* Full height */
  height: 100%;
  padding-top: 15vh;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxr {

  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: 1080px 960px;

}

.parallaxl {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: 1080px 960px;

}

/* Background image 1 */
#bg1{
  background-image: url('images/building.jpeg');
}

/* Background image 2 */
#bg2 {
  background-image: url('images/earth.jpeg');
}

/* Background image 3 */
#bg3 {
  background-image: url("images/idkchief.jpeg");
}

/* Background image 4 */
#bg4 {
  background-image: url("images/city.jpeg");
}

.hometext {
  display: none;
  background-color: #1a1a1d;
  color: #FFFFFF;
  font-size: 170%;
  text-align: center;

}


#welcomeimage{
  width: 400px;
  height: 400px;
  margin: auto;
  background-color: #FFFFFF;
}

.parallaxtextr{
  width: 50%;
  height: 100%;
  margin: auto;
  background-color: #FFFFFF;
  float: right;
}

.parallaxtextl{
  float: left;
  width: 50%;
  height: 100%;
  margin: auto;
  background-color: #FFFFFF;
}


@media (max-width: 1200px) {
  .hometext{
    display: block;
  }
  .parallaxtextl {
    display: none;
  }
  .parallaxtextr{
    display: none;
  }
  .parallaxl{
    background-size: cover;
  }
  .parallaxr{
    background-size: cover;
  }
}